<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eryx Package Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='package.css') }}">
</head>
<body>
    <header>
        <h1>Eryx Package Manager</h1>
        <nav>
            <ul>
                {% if github.authorized %}
                    <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('github.login') }}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <h2>{{ package.name }} v{{ package.latest_version }}</h2>
        <li>
            <h4>{{ package.description }}</h4>
            <p>{{ package.download_count }} downloads</p>
            <p>Updated on: {{ package.latest_release.release_date.strftime('%Y-%m-%d %H:%M:%S') }}</p>
            <p>Created on: {{ package.creation_date.strftime('%Y-%m-%d %H:%M:%S') }}</p>
            {% if author_name %}
                <p>Made by: {{ author_name }}</p>
            {% endif %}
        </li>
        <p>{{ package.latest_release.readme }}</p>
    </main>

    <footer>
        <p>&copy; 2024 ImShyMike</p>
    </footer>
</body>
</html>
