Flask
Flask-Dance
Flask-Limiter
Flask-SQLAlchemy
Flask-Talisman
Flask-Humanize
Flask-Login
minio
packaging
python-dotenv
toml
markdown
bleach
markupsafe
humanize
psycopg2 #Flask-SQLAlchemy doesnt auto import this for some reason